.container {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  height: 45rem;
  width: 27rem;
  margin: 2% auto;
  background-image: url("./img/blackboard.jpg");
  background-size: cover;
  color: rgb(240, 240, 240);
  overflow: hidden;
  font-family: "Eraser", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.btn {
  height: 100px;
  width: 100px;
  border: 5px solid white;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
}

.container div {
  display: flex;
  justify-content: center;
}
